<a href="https://colab.research.google.com/github/dljaimes/AdvancedMethodsinDataAnalysis1Grupo_5/blob/main/E_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install -q wordcloud
import pandas as pd
from keras.models import Sequential
from keras.layers.recurrent import LSTM
from keras.layers.core import Dense, Dropout
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
#from livelossplot import PlotLossesKeras
import keras
from keras import backend as K
from sklearn.model_selection import train_test_split
import re
import nltk

In [38]:
nltk.corpus.stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [40]:
dataTraining = pd.read_csv('https://github.com/albahnsen/AdvancedMethodsDataAnalysisClass/raw/master/datasets/dataTraining.zip', encoding='UTF-8', index_col=0)

In [41]:
# Se quitan caractéres especiales sobre cada texto:

def pre_process(text):
    # lowercase
    text = text.lower()
    # tags
    text = re.sub('&lt;/?.*?&gt;',' &lt;&gt; ',text)
    # special characters and digits
    text=re.sub('(\\d|\\W)+',' ',text)
    # remove punctuation
    #text = re.sub('[.;:!\'?,\"()\[\]]', '', text)
    #text = [REPLACE.sub('', line) for line in text]
    
    return text
dataTraining['plot_low']=dataTraining['plot'].apply(lambda x:pre_process(x))


from nltk.corpus import stopwords

In [43]:
dataTraining.columns

Index(['year', 'title', 'plot', 'genres', 'rating', 'plot_low'], dtype='object')

In [44]:
dataTraining[['plot','plot_low']]

                                                   plot                                           plot_low
3107  most is the story of a single father who takes...  most is the story of a single father who takes...
900   a serial killer decides to teach the secrets o...  a serial killer decides to teach the secrets o...
6724  in sweden ,  a female blackmailer with a disfi...  in sweden a female blackmailer with a disfigur...
4704  in a friday afternoon in new york ,  the presi...  in a friday afternoon in new york the presiden...
2582  in los angeles ,  the editor of a publishing h...  in los angeles the editor of a publishing hous...
...                                                 ...                                                ...
8417  " our marriage ,  their wedding .  "  it ' s l...   our marriage their wedding it s lesson number...
1592  the wandering barbarian ,  conan ,  alongside ...  the wandering barbarian conan alongside his go...
1723  like a tale spun by scheherazade ,  kismet fol...  like a tale spun by scheherazade kismet follow...
7605  mrs .  brisby ,  a widowed mouse ,  lives in a...  mrs brisby a widowed mouse lives in a cinder b...
215   tinker bell journey far north of never land to...  tinker bell journey far north of never land to...

[7895 rows x 2 columns]

In [3]:
plots = dataTraining['plot']
y = (dataTraining['rating'] >= dataTraining['rating'].mean()).astype(int)

In [6]:
plots

3107    most is the story of a single father who takes...
900     a serial killer decides to teach the secrets o...
6724    in sweden ,  a female blackmailer with a disfi...
4704    in a friday afternoon in new york ,  the presi...
2582    in los angeles ,  the editor of a publishing h...
                              ...
8417    " our marriage ,  their wedding .  "  it ' s l...
1592    the wandering barbarian ,  conan ,  alongside ...
1723    like a tale spun by scheherazade ,  kismet fol...
7605    mrs .  brisby ,  a widowed mouse ,  lives in a...
215     tinker bell journey far north of never land to...
Name: plot, Length: 7895, dtype: object

In [7]:
y

3107    1
900     0
6724    1
4704    1
2582    1
       ..
8417    0
1592    0
1723    0
7605    1
215     1
Name: rating, Length: 7895, dtype: int64

In [9]:
voc = set(''.join(plots))
vocabulary = {x: idx + 1 for idx, x in enumerate(set(voc))}

In [11]:
len(vocabulary)

74

In [13]:
max_url_len = 150
X = [x[:max_url_len] for x in plots]
# Convert characters to int and pad
X = [[vocabulary[x1] for x1 in x if x1 in vocabulary.keys()] for x in plots]

In [15]:
len(X)

7895

In [18]:
len(dataTraining['plot'].tolist())

7895

In [19]:
X_pad = sequence.pad_sequences(X, maxlen=max_url_len)
X_pad

array([[34, 53, 18, ...,  1, 18, 74],
       [ 0,  0,  0, ..., 23, 18, 74],
       [69, 48, 51, ..., 31, 18, 74],
       ...,
       [ 6, 18, 33, ...,  3, 18, 74],
       [51, 18, 65, ..., 48, 18, 74],
       [ 0,  0,  0, ..., 48, 18, 74]], dtype=int32)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_pad, y, test_size=0.33, random_state=42)

NameError: ignored